body {
    margin: 5%;
    padding: 0;
}
 .botones {
    display: flex;
    gap: 0.5vw;
}
.boton_1 {
    background-color: rgb(24, 23, 23);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    width: 7vw;
    height: 4.5vh;
}
.boton_2 {
    background-color: rgb(38, 108, 220);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    width: 7vw;
    height: 4.5vh;
}
.boton_3 {
    background-color: rgb(245, 6, 6);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    width: 7vw;
    height: 4.5vh;
}
.boton_4 {
    background-color: rgb(184, 189, 43);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    width: 7vw;
    height: 4.5vh; 
}
.boton_5 {
    background-color: rgb(146, 34, 231);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    width: 7vw;
    height: 4.5vh;  
}

